* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.3;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 0.5rem 0 0.25rem;
}

img {
  width: 100%;
}

section {
  padding: 2.5rem 0;
}

.bg-primary {
  background-color: #2b2e4a;
}

h1.contact-heading {
  color: #e84545;
}

p.contact-detail {
  color: #707070;
  margin: 0.1875rem;
}

.text-secondary {
  color: #e84545;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  padding: 1rem 0;
}
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  color: #eee;
}

.nav {
  display: none;
}

.footer {
  padding: 2.5rem 2rem;
  background-color: #232323;
  color: #fff;
}
.footer__heading {
  text-align: center;
  font-size: 1.25rem;
}
@media (min-width: 320px) and (max-width: 480px) {
  .footer__heading {
    font-size: 1rem;
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: hidden;
}

.toggle-bar {
  cursor: pointer;
}
.toggle-bar span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #eee;
}
.toggle-bar span:not(:last-child) {
  margin-bottom: 0.375rem;
}

.section-title {
  font-size: 2.25rem;
  text-align: center;
  color: #2b2e4a;
  margin-bottom: 2.5rem;
}
.section-title.text-light {
  color: #eee;
}
@media (min-width: 320px) and (max-width: 480px) {
  .section-title {
    font-size: 1.75rem;
  }
}

.btn {
  padding: 0.75rem 2rem;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
}
.btn.btn-primary {
  background-color: #903749;
  color: #eee;
}
.btn.btn-secondary {
  background-color: #53354a;
  color: #eee;
}

.hero {
  background: linear-gradient(45deg, #2b2e4a, #3e426a);
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero::before {
  content: "";
  background-color: #fff;
  height: 200px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-clip-path: polygon(100% 25.5%, 0 97%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 25.5%, 0 97%, 0% 100%, 100% 100%);
}
@media (min-width: 320px) and (max-width: 480px) {
  .hero {
    padding: 6rem 0 3rem;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
  }
  .hero::before {
    content: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .hero {
    padding: 6rem 0 3rem;
    justify-content: flex-start;
    flex-direction: column;
    height: 70vh;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .hero {
    padding: 6rem 0 3rem;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
  }
}
.hero__content {
  position: absolute;
  left: 150px;
}
.hero__content h1 {
  font-size: 2.5rem;
  color: #eee;
  line-height: 1;
}
.hero__content p {
  color: #eee;
  margin: 1rem 0;
}
@media (min-width: 320px) and (max-width: 480px) {
  .hero__content {
    position: static;
    order: 2;
    margin-top: 1rem;
  }
  .hero__content h1 {
    font-size: 1.75rem;
    text-align: center;
  }
  .hero__content p {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .hero__content {
    position: static;
    order: 2;
    margin-top: 1rem;
  }
  .hero__content h1 {
    font-size: 1.75rem;
    text-align: center;
  }
  .hero__content p {
    text-align: center;
  }
}
.hero__ctx {
  background-color: #3a3e60;
  display: inline-block;
  padding: 0.75rem 2rem;
  color: #eee;
  border-radius: 0.5rem;
  width: 16.25rem;
  text-align: center;
  box-shadow: 2px 6px 8px rgba(13, 15, 23, 0.3);
}
@media (min-width: 320px) and (max-width: 480px) {
  .hero__ctx {
    width: 100%;
  }
}
.hero__image {
  position: absolute;
  bottom: 80px;
  right: 150px;
  height: 27.5rem;
  width: 18.75rem;
  z-index: -1;
}
@media (min-width: 320px) and (max-width: 480px) {
  .hero__image {
    position: static;
    height: 300px;
    width: 300px;
    order: 1;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .hero__image {
    position: static;
    height: 300px;
    width: 300px;
    order: 1;
  }
}
.hero__social {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 480px) {
  .hero__social {
    display: none;
  }
}
.hero__item:not(:last-child) {
  margin-bottom: 0.75rem;
}
.hero__link i {
  color: #eee;
  font-size: 1.625rem;
}

.services .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem 0;
}
@media (min-width: 320px) and (max-width: 480px) {
  .services .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.services .grid-item {
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  text-align: center;
  padding: 1rem;
}
.services .grid-item i {
  font-size: 6.25rem;
}
.services .grid-item h1 {
  color: #e84545;
  margin-top: 1rem;
}
.services .grid-item p {
  font-size: 0.95rem;
  color: #707070;
  height: 3.75rem;
  max-height: 3.75rem;
  overflow: hidden;
}

.skills .grid {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}
@media (min-width: 320px) and (max-width: 480px) {
  .skills .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.skills .grid h1 {
  width: 100%;
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #903749;
  color: #eee;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

.works .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem 0;
  place-items: center;
}
@media (min-width: 320px) and (max-width: 480px) {
  .works .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.works .grid-item {
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.3);
  margin: auto;
}
.works .grid-content {
  padding: 1.25rem 1rem;
}
.works .grid-content h1 {
  text-align: center;
  font-size: 1.5rem;
  color: #e84545;
}
.works .grid-content p {
  color: #707070;
  font-size: 0.95rem;
}
.works .grid-content .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
@media (min-width: 1025px) {
  .works .grid-content .links a {
    width: 200px;
  }
}

.contact__content {
  width: 31.25rem;
  height: 28.125rem;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.3);
}
@media (min-width: 320px) and (max-width: 480px) {
  .contact__content {
    width: 100%;
    height: 100%;
  }
}
.contact__item:not(:last-child) {
  margin-bottom: 2rem;
}/*# sourceMappingURL=main.css.map */