@use './../abstracts/' as *;
.skills {
  .grid {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    @include breakpoint(mobile) {
      grid-template-columns: repeat(3, 1fr);
    }
    button {
      width: 100%;
      padding: 0.5rem;
      border-radius: 8px;
      border: none;
      outline: none;
      background-color: $accentColor;
      color: $lightColor;
      font-size: 1rem;
      font-weight: map-get($fontWeight, bold);
      text-align: center;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: $animateScale;
      }
    }
  }
}
