@use './../abstracts/' as *;
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 9999;

  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    color: $lightColor;
    z-index: 9999;
  }
  &.sticky {
    position: fixed;
    background-color: $primaryColorLighten;
    transition: all 0.3s ease-in-out;
  }
}
