$primaryColor: #2b2e4a;
$secondaryColor: #e84545;
$accentColor: #903749;
$accentColor2: #53354a;
$lightColor: #eee;
$primaryColorLighten: lighten($primaryColor, 10%);
$grayColor: #707070;
$darkColor: #333;

$facebookColor: #4267b2;
$instagramColor: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
$linkedinColor: #0077b5;
$githubColor: #666666;
